<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <link rel="stylesheet" href="../static/class_time.css">
  <div class="container">
    <img src="../static/images/class_time.jpg" alt="Image">
    
  </div>
  <div class="button-container">
    <button class="back-button" onclick="goBack()">Back</button>
  </div>

   <script>
    function goBack() {
     window.location.href = "./student_page.html"; 
    }
  </script>
</body>
</html>
