<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> دانشگاه فردوسی مشهد -پرتال جامع اعضاء </title>
    <link rel="stylesheet" href="../static/bootstrap-4-rtl.min.css">
    <link rel="stylesheet" href="../static/font-awesome-all.min.css">
    <link rel="stylesheet" href="../static/custom-style.css">
    <link rel="stylesheet" href="../static/proffesor_signup.css">
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap-4.2.1.min.js"></script>
    <script src="../static/js/proffesor_signup.js"></script>

</head>

<body dir="rtl">
    <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
        <div class="container">
            <div class="row">
                <div class="col-md-7 mx-auto">
                    <div class="login-card row bg-light shadow mx-2">
                        <div class="col p-4 pt-5 align-self-center">
                            <h1 class="text-center">
                                <a href="https://www.um.ac.ir" target="_blank" title="دانشگاه فردوسی مشهد">
                                    <img class="fum-logo" src="../static/images/fum-logo.png">
                                </a>
                            </h1>
                            <h2 class="text-center my-3">
                                <span>
                                    پرتال ورود یکپارچه اعضا <br> <br>پروژه دانشگاهی <br> <br> نام گروه
                                </span>
                            </h2>
                            <h3 class="text-center my-3">
                                <span>
                                    ثبت نام استاد
                                </span>
                            </h3>
                            <form name="RecoveryPassForm" id="RecoveryPassForm" action="UserRecoveryPassForm.php.html"
                                method="POST" onSubmit="" class="login-form px-md-4">
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <div class="input-group pr-1 rounded">
                                            <input type="text" name="first_name" class="form-control border-0"
                                                placeholder="نام" required>
                                            <i class="fa text-secondary fa-user-circle"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group pr-1 rounded">
                                            <input type="text" name="mobile" maxlength="11"
                                                class="form-control border-0" placeholder="نام خانوادگی" required>
                                            <i class="fa text-secondary fa-mobile-alt"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                   <div class="col-md-6">
                                       <div class="input-group pr-1 rounded">
                                           <input type="text" name="first_name" class="form-control border-0"
                                               placeholder="example@gmail.com" required>
                                           <i class="fa text-secondary fa-user-circle"></i>
                                       </div>
                                   </div>
                                   <div class="col-md-6">
                                       <div class="input-group pr-1 rounded">
                                           <input type="text" name="mobile" maxlength="11"
                                               class="form-control border-0" placeholder="کد ملی" required>
                                           <i class="fa text-secondary fa-mobile-alt"></i>
                                       </div>
                                   </div>
                               </div>
                               <div class="form-group row">
                                   <div class="col-md-6">
                                       <div class="input-group pr-1 rounded">
                                           <input type="text" name="first_name" class="form-control border-0"
                                               placeholder="آدرس" required>
                                           <i class="fa text-secondary fa-user-circle"></i>
                                       </div>
                                   </div>
                                   <div class="col-md-6">
                                       <div class="input-group pr-1 rounded">
                                           <input type="text" name="mobile" maxlength="11"
                                               class="form-control border-0" placeholder="آیا مدیر گروه میباشد؟" required>
                                           <i class="fa text-secondary fa-mobile-alt"></i>
                                       </div>
                                   </div>
                               </div>
                               <div class="form-group row">
                                   <div class="col-md-6">
                                       <div class="input-group pr-1 rounded">
                                           <input type="text" name="first_name" class="form-control border-0"
                                               placeholder="درس ارائه" required>
                                           <i class="fa text-secondary fa-user-circle"></i>
                                       </div>
                                   </div>
                                   <div class="col-md-6">
                                       <div class="input-group pr-1 rounded">
                                           <input type="text" name="mobile" maxlength="11"
                                               class="form-control border-0" placeholder="جنسیت" required>
                                           <i class="fa text-secondary fa-mobile-alt"></i>
                                       </div>
                                   </div>
                               </div>
                                <div class="form-group row align-items-center">
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-primary btn-block"
                                            name="PassRecovery">
                                            ثبت نام
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="reset" class="btn btn-secondary btn-block">رفتن به صفحه ورود</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>